<!-- Disclaimer Modal -->
<div id="disclaimerModal" class="disclaimer-modal" style="display: none">
  <div class="disclaimer-content">
    <h2>Disclaimer</h2>
    <p>
      The content presented on this blog is intended for testing and
      demonstration purposes only. Unless explicitly stated, it may not always
      adhere to best practices. Readers are strongly advised to thoroughly test
      and validate all code and examples prior to implementing them in a
      production environment. Neither the author(s) nor the company associated
      with this blog assume any responsibility for any issues or damages that
      may arise from the use of information contained within.
    </p>
    <button onclick="acceptDisclaimer()">Accept</button>
  </div>
</div>
